 .containerMain{
  width:80% ;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 120px; 
  
 } 
 
 .cardMurta{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #FF5733 ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 .text{
   color: white;
   width: 120px;
   
 }
 
 .cardJane{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #3357FF  ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 
 .cardMaria{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #FF33A1   ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 
 .cardJohn{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #33FFF3    ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 
 .cardJoao{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #FFD700     ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 
 .cardCarlos{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #00FF00      ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 
 .cardEvelyn{
   transition: transform 0.5s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   margin: 0 20px; 
   height: 400px; 
   width: 240px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #FF8C00       ;
   padding-left: 65px;
   padding-right: 65px;
   align-items: center;
 }
 
 
 .testimonyText {
   color: white  ;
   width:180px;
 font-weight: 400px;
   
 }
 
 .headshot {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   padding-top: 5px;
 }