.page {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-items: center;
    padding-top: 80px;
    padding-bottom: 120px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #e4f2fd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.cardImage {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.cardContent h3 {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    color: #333;
}

.cardContent p {
    margin: 0 0 10px 0;
    color: #666;
    font-size: 0.9em;
}