.footer {
  height: 100%;
  width: 100%;
  background-color: rgb(35, 34, 34);
  overflow-x: hidden;
  margin: 0;
  font-family: Helvetica, sans-serif;
  padding-bottom: 20px;

}

.container {
  /* border: 1px solid black; */

  height: 100%;
  width: 100%;
  
}

.text {
  color: white;
}

.text h3 {
  display: flex;
  justify-content: center;
}

.text ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 10px;
}

.newstext {
  color: white;
}

.newstext h3 {
  display: flex;
  justify-content: center;
}

.newbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsubmit {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonemail {
  height: 25px;
  width: 200px;
  border-radius: 4px;
}

.buttonsub {
  background-color: #3f3f46;
  color: white;
  border-radius: 10px;
  border: none;
  color: #00337C;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  margin-left: -10px;
}

.buttonsub:hover {
  background-color: #27272a;
  cursor: pointer;
  color: white;
}

.line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid #52525b;
}

.footerinfo {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons ul {
  display: flex;
  list-style-type: none;
  font-size: 35px;
  gap: 20px;
}

.icons a {
  color: white;
}

.icons a:hover {
  color: #a1a1aa;
}

.rights {
  color: #a1a1aa;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 20px;
  gap:4px;

  /* border: 1px solid black; */
}
.rightsIcon{
  color: white;
  height: 20px;
  width: 20px;
}