

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 90px;
}

.logoPrincipal {
    color: black;
    height: 100px;
    
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 30px;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #3498db;
}

.globeIcon img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchInput {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.searchButton {
    padding: 5px 15px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #2980b9;
}

.headerContainer > div:last-child img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks {
        flex-direction: column;
        gap: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .searchInput {
        flex-grow: 1;
    }

    .searchButton {
        width: 100%;
        margin-top: 5px;
    }
}