.mainphrase {

}

.phrase {
    text-align: center;
    font-size: 128px;
    line-height: 10px;
}

.volunteerbutton {
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 5px;
    font-size: 24px;
    color: white;
}

.horizontalline {
    border-bottom: 1px solid black;
}

.buttondiv {
    text-align: center;
    margin-top: 10px;
}

.gridMain1 {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.testimonies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.textimonies {
    margin-left: 5px;
    margin-top: 10px;
}

.testimonies1 {
    width: 300px;
    height: 275px;
    background-color: #E6FF94;
    margin-right: 10px;
}

.testimonies2 {
    width: 300px;
    height: 300px;
    background-color: #40A578;
    margin-right: 10px;
}

.testimonies3 {
    width: 300px;
    height: 300px;
    background-color: #006769;
    margin-right: 10px;
}

.testimonies4 {
    width: 300px;
    height: 300px;
    background-color: #9DDE8B;
}

.josemurta {
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: -20px;
}

.headshot1 {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 100px;
}

.headshot2 {
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 10px;
    border-radius: 100px; 
}

.headshot3 {
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 10px;
    border-radius: 100px; 
}

.headshot4 {
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 10px;
    border-radius: 100px; 
}

.imageshome {
    width: 500px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}
.journey {
    text-align: center;
}

.mapaimg {
    display: block;
    margin: auto;
}

