.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 550px;
    background-color: #fff;
    padding-bottom: 30px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
  }
  
  .text{
      color: #00337C;
      font-size:48px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .underLine{
      width: 61px;
      height: 6px;
      background: #00337C;
      border-radius: 9px;
  
  }
  
  .inputs{
      margin-top: 55px;
      display: flex;
      flex-direction: column;
      gap:25px;
  
  }
  
  .input{
      display: flex;
      align-items: center;
      margin: auto;
      width: 480px;
      height: 80px;
      background: #eaeaea;
      border-radius: 7px;
  }
  
  .input img{
      margin: 0px 30px;
  
  }
   .input input{
      height: 50px;
      width: 400px;
      background: transparent;
      border: none;
      outline: none;
      color:#000000;
      font-size: 19px;
      font-family:Helvetica, sans-serif;
  
  } 
  .btnSubmit{
      margin-left: 195px;
      margin-top: 27px;
      color: #00337C;
      font-size:30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      color:#fff;
      background: #00337C;
      font-size: 17px;
      font-weight: 700;
      cursor: pointer;
      border-radius: 50px;
      font-family: Helvetica, sans-serif;
      
         
  }
  
  
  .submitContainer{
      display: flex;
      gap:30px;
      margin: 60px auto;
  
  }
  
  .submit{
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      width: 220px;
      height: 59px;
      color:#fff;
      background: #3f3f46;
      border-radius: 50px;
      font-size: 19px;
      font-weight: 700;
      cursor: pointer;
      font-family: Helvetica, sans-serif;
  }

  .submitGray:hover {

    background-color: #1C82AD;

  }

  .btnSubmit:hover { 

    background-color: #1C82AD;
  }

  .submitGray{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:#fff;
    background: #00337C;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
  }