@keyframes slideIn {
    from {
      right: -270px;
      opacity: 0;
    }
    to {
      right: 20px;
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      right: 20px;
      opacity: 1;
    }
    to {
      right: -270px;
      opacity: 0;
    }
  }
  
  .modalcontent {
    position: fixed;
    top: 50%;
    right: 20px;
    width: 250px;
    background-color: #00337C;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 80px;
    opacity: 0;
    transform: translateY(-50%);
  }
  
  .modalcontent.show {
    animation: slideIn 0.3s forwards;
  }
  
  .modalcontent.hide {
    animation: slideOut 0.3s forwards;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  
  .content h2 {
    font-size: 20px;
  }
  
  .Xmodal {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .Xmodal:hover {
    color: red;
  }
  
  