@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.title {
    font-family: Helvetica, sans-serif;
    color: rgb(69, 63, 63);

}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #ddedf7;
    flex-direction: column;
    padding-top: 50px;
    
}

.form {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 850px;
}

.textarea {
    
    border: 2px solid #3498db;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: 350px;
    width: 700px;
    transition: border-color 0.3s ease;
    resize: none;
}

.textarea:focus {
    border-color: #3498db;
    outline: none;
    font-size: larger;
}

.textarea::placeholder {
    color: #888;
    font-family: 'Poppins', sans-serif;
}

.submitButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #FFB1B1;
}

.submitButton:active {
    transform: scale(0.95);
}