.main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #badae6;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1040px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.container h1 {
    
    display: flex;
    justify-content: center;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

.header img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 25px;
}

.content h2 {
    margin: 10px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 5px
}

.card1 {
   background-color: #BF8C2E;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    text-align: center;


    
    /* background-image: url("/imagens/foto1.jpg");  */
}
.card2 {
    background-color: #3F7D44;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    text-align: center;
}
.card3 {
    background-color: #a21943;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    text-align: center;
}

.card h3 {
    margin: 10px 0;
}

.applyBtn {
    display: block;
    width: 29%;
    padding: 20px;
    text-align: center;
    background: #2286c4;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.applyBtn:hover{
    background: #0056b3;
}

.applyBtn:active{
    background-color: #ffb1b1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}